---
const { data } = Astro.props;

---

 <a href= {`bryllupcards/${data.slug}`}>
 <div class="bcard">
    <div class="upperc">
<img class="bcardimg" src=`/images/${data.Img}`alt={data.Img}>
</div>
<div class="lowerc">
    <div>
<h4>{data.ktext1}</h4>
</div>
<div>
<p>{data.ktext2}</p>
</div>
<div>
<button class="bbutton">TILFJØ TIL KURV</button>
</div>
</div>

</div>
</a>

<style>

.bcard{
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    align-items:start;
}
.bcardimg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}
.upperc{
    padding: 2rem;
    border-radius: 19px;
    background: rgba(195, 228, 221, 0.57);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 307px;
    height: 412px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 1rem;
} 

.lowerc{
    gap: 1rem;
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
}
.bbutton{
    display: inline-flex;
min-width: 200px;
padding: 15px 45px 12px 45px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 36px;
border: 3px solid var(--secondary-colors-blue, #C3E4DD);
    
}



    
</style>