---
const {image, title, subtitle , text, sluttext,} = Astro.props;
---


<section>
    <img src={image}/>
    <h2>{title}</h2>
    <h3>{subtitle}</h3>
    <p>{text}</p>
    <p>{sluttext}</p>

</section>

<style>
     .card image{
    width: 10rem;
    align-self: center;
    margin-bottom: :0;
 }
 .personalcakes{
    background-color: gray;
 }
</style>